@model List<LangReadDto>
@{
    ViewData["Title"] = "Index";
    int count = 1;
}

<div class="col-lg-12 m-5 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <a asp-controller="Language" asp-action="Create" class="btn btn-outline-success btn-fw d-flex justify-content-center">Create</a>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Language</th>
                            <th>Icon</th>
                            <td>Settings</td>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@count</td>
                                <td>@item.Lang</td>
                                <td>
                                    <img style="width:100px;height:100px;border-radius:0;" src="~/assets/image/@item.LangIconUrl" alt="Alternate Text" />
                                </td>

                                <td>

                                    <a asp-controller="Language" asp-action="Update" asp-route-id="@item.Id" class="btn btn-inverse-primary btn-fw mt-2">Update</a>

                                    <form asp-controller="Language" asp-action="Delete" asp-route-id="@item.Id" method="post">
                                        <button type="submit" class="btn btn-inverse-danger btn-fw mt-2">Delete</button>
                                    </form>
                                </td>

                            </tr>
                            count++;
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
