<!-- Header start -->
<header id="header">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">
                <img src="~/assets/image/pixoo-logo2.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <img src="./assets/image/532-5328945_menu-bar-icon-white-clipart-png-download-menu.png" alt="">
                </span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Bas Sehife</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./platinium.html">Platinum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./category.html">Categoriyalar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tarifler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Haqqimizda</a>
                    </li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <div style="background-color: #fff; border-radius:10px;" class="dropdown ml-auto mt-1">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">

                                <i style="font-size: 15px;  " class="bi bi-person"></i>

                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-controller="Account" asp-action="AccountProfil">

                                    Profile:
                                    <span class="text-dark">@User.Identity.Name</span><hr />
                                </a>

                                <a class="dropdown-item" asp-controller="Favorite" asp-action="ShowFavorite">
                                    <i class="bi bi-save"></i>
                                    Saved
                                </a>
                                <a class="dropdown-item" asp-controller="Account" asp-action="AccountSetting">
                                    <i class="bi bi-gear"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" asp-controller="Account" asp-action="SignOut">
                                    <i class="bi bi-door-open"></i>
                                    Log out
                                </a>

                            </div>
                        </div>
                    }
                    else
                    {
                        <li class="nav-item mt-1">
                            <a style="margin-left:10px;" asp-controller="Account" asp-action="Login" class="btn btn-success">Sign In</a>
                            <a asp-controller="Account" asp-action="Register" class="btn btn-primary">Sign Up</a>
                        </li>
                    }

                   

                </ul>



            </div>


        </nav>
    </div>
</header>
<!-- Header end -->