<!-- Header start -->
<header id="header">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">
                <img src="~/assets/image/pixoo-logo2.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <img src="./assets/image/532-5328945_menu-bar-icon-white-clipart-png-download-menu.png" alt="">
                </span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Bas Sehife</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./platinium.html">Platinum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./category.html">Categoriyalar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tarifler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Haqqimizda</a>
                    </li>

                    <li class="nav-item">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <h3 style="color:white; display:inline-block" class="mt-2">
                                <a style="color:white; text-decoration:none;" asp-controller="Account" asp-action="Profile">@User.Identity.Name</a>
                            </h3>
                            <a asp-controller="Account" asp-action="SignOut" class="btn btn-primary mb-2">Sign Out</a>
                        }
                        else
                        {
                            <a style="margin-left:10px;" asp-controller="Account" asp-action="Login" class="btn btn-success">Sign In</a>
                            <a asp-controller="Account" asp-action="Register" class="btn btn-primary">Sign Up</a>

                        }
                    </li>
                    
                </ul>



            </div>


        </nav>
    </div>
</header>
<!-- Header end -->