@model LoginDto
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/admin/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/admin/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/admin/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/admin/assets/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="row w-100 m-0">
                <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                    <div class="card col-lg-4 mx-auto">
                        <div class="card-body px-5 py-5">
                            <h3 class="card-title text-left mb-3">Register</h3>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <form method="post">

                                <div class="form-group">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control p_input">
                                    <span asp-validation-for="Email" class="text-danger"></span>

                                </div>
                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <input asp-for="Password" class="form-control p_input">
                                    <span asp-validation-for="Password" class="text-danger"></span>

                                </div>
                                <div class="form-group">

                                    Remember Me : <input asp-for="RememberMe">

                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-block enter-btn">SING IN</button>
                                </div>

                                <div class="d-flex">
                                    @*<button class="btn btn-facebook col me-2">
                                        <i class="mdi mdi-facebook"></i>
                                        <a style="color:white;text-decoration:none;" asp-controller="Account" asp-action="FacebookLogin" >Facebook</a>
                                    </button>*@
                                    <button class="btn btn-google col">
                                        <i class="mdi mdi-google"></i>
                                        <a asp-controller="Account" asp-action="GoogleLogin" style="color:white;text-decoration:none;">Google</a>
                                    </button>
                                </div>

                                <p class="sign-up text-center">don't have an account?<a asp-controller="Account" asp-action="Register"> Sign Up</a></p>
                                <p class="text-center">Did you forget your password? <a asp-controller="Account" asp-action="ForgetPassword" class="forgot-pass">Forgot password</a></p>

                            </form>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- row ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/admin/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/admin/assets/js/off-canvas.js"></script>
    <script src="~/admin/assets/js/hoverable-collapse.js"></script>
    <script src="~/admin/assets/js/misc.js"></script>
    <script src="~/admin/assets/js/settings.js"></script>
    <script src="~/admin/assets/js/todolist.js"></script>
    <!-- endinject -->
</body>
</html>


