@model ResetPasswordDto
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <link rel="stylesheet" href="~/admin/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/admin/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/admin/assets/css/style.css">
    <link rel="shortcut icon" href="~/admin/assets/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="row w-100 m-0">
                <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                    <div class="card col-lg-4 mx-auto">
                        <div class="card-body px-5 py-5">
                            <h3 class="card-title text-left mb-3">Password Reset</h3>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <form method="post">

                                <input asp-for="Email" type="hidden" class="form-control form-control-lg">
                                <input asp-for="Token" type="hidden" class="form-control form-control-lg">


                                <div class="form-group">
                                    <label>New Password</label>
                                    <input asp-for="NewPassword" class="form-control p_input">
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>Confirm New Password</label>
                                    <input asp-for="ConfirmPassword" class="form-control p_input">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-block enter-btn">RESET</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <script src="~/admin/assets/vendors/js/vendor.bundle.base.js"></script>

    <script src="~/admin/assets/js/off-canvas.js"></script>
    <script src="~/admin/assets/js/hoverable-collapse.js"></script>
    <script src="~/admin/assets/js/misc.js"></script>
    <script src="~/admin/assets/js/settings.js"></script>
    <script src="~/admin/assets/js/todolist.js"></script>

</body>
</html>