
@{
    ViewData["Title"] = "Index";
}

<section style="padding:150px 0;" id="platinum">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="platinum_title">
                    <h3> 
                        Platinum
                    </h3>
                    <p>
                        Platinum is a premium cinema hall that allows viewers to experience maximum comfort and enjoy
                        the highest picture quality. Functional differences and advantages of the hall:
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 boxes">
                <div class="icon">
                    <i class="fa-solid fa-bell-concierge"></i>
                </div>
                <div class="title">

                    <strong>
                        PERSONAL SERVICE
                    </strong>

                </div>
                <div class="description">
                    <p>
                        Personal service - a button located on the seat panel allows the viewer to order
                        food
                        and drinks by calling the attendants.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 boxes">
                <div class="icon">
                    <i class="fa-solid fa-loveseat"></i>
                </div>
                <div class="title">
                    <strong>
                        COMFORT
                    </strong>
                </div>
                <div class="description">
                    <p>
                        Italian armchairs - offers viewers the opportunity to watch a movie in a hall with
                        luxurious leather Italian chairs of superior comfort and a reclining back.
                    </p>
                </div>

            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 boxes">
                <div class="icon">
                    <i class="fa-solid fa-mobile-notch"></i>
                </div>
                <div class="title">
                    <strong>
                        USB CHARGE
                    </strong>
                </div>
                <div class="description">
                    <p>
                        USB Charge - While watching a movie, you can charge your phone using special USB
                        equipment that is installed on the seats.
                    </p>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 boxes">
                <div class="icon">
                    <i class="fa-solid fa-mobile-notch"></i>
                </div>
                <div class="title">
                    <strong>
                        Wifi
                    </strong>
                </div>
                <div class="description">
                    <p>
                        Wifi - Some viewers of the Platinum Hall cannot forget about work even during a film
                        screening. They have high speed internet.
                    </p>
                </div>
            </div>


        </div>
    </div>

</section>

