@model MovieUpdateDto
@{
    ViewData["Title"] = "Update";
}

<div class="col-md-12 m-5 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="MovieName"></label>
                    <input asp-for="MovieName" class="form-control">
                    <span asp-validation-for="MovieName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="TrailerUrl"></label>
                    <input asp-for="TrailerUrl" class="form-control">
                    <span asp-validation-for="TrailerUrl" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="AboutContent"></label>
                    <input asp-for="AboutContent" class="form-control">
                    <span asp-validation-for="AboutContent" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ImdbPoint"></label>
                    <input asp-for="ImdbPoint" class="form-control">
                    <span asp-validation-for="ImdbPoint" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="AgeLimit"></label>
                    <input asp-for="AgeLimit" class="form-control">
                    <span asp-validation-for="AgeLimit" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Country"></label>
                    <input asp-for="Country" class="form-control">
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Director"></label>
                    <input asp-for="Director" class="form-control">
                    <span asp-validation-for="Director" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Duration"></label>
                    <input asp-for="Duration" class="form-control">
                    <span asp-validation-for="Duration" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PosterFile"></label>
                    <input accept="image/" asp-for="PosterFile" class="form-control">
                    <span asp-validation-for="PosterFile" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="BackgroundImgFile"></label>
                    <input accept="image/" asp-for="BackgroundImgFile" class="form-control">
                    <span asp-validation-for="BackgroundImgFile" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary me-2">Create</button>
                <button asp-controller="Category" asp-action="Index" class="btn btn-dark">Cancel</button>
            </form>
        </div>
    </div>
</div>

