@model CinemaCreateDto
@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">
    <div class="row mt-5">
        
        <div class="col-12">
            <form method="post" class="form" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-12 col-md-5 form__cover">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-12">
                                <div class="form__img form__group">
                                    <label asp-for="CinemaPosterPhoto"></label>
                                    <input accept="image/" asp-for="CinemaPosterPhoto" class="form-control">
                                    <span asp-validation-for="CinemaPosterPhoto" class="text-danger"></span>
                                    @*<img id="form__img" src="#" alt=" ">*@
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-7 form__content">
                        <div class="row">
                            <div class="col-12">
                                <div class="form__group">
                                    <input asp-for="CinemaName" class="form__input" placeholder="Cinema Name">
                                    <span asp-validation-for="CinemaName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form__group">
                                    <textarea asp-for="ShortContent" class="form__textarea" placeholder="Description"></textarea>
                                    <span asp-validation-for="ShortContent" class="text-danger"></span>

                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="form__group">
                                    <input asp-for="OurAdress" class="form__input" placeholder="Our Adress">
                                    <span asp-validation-for="OurAdress" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="form__group">
                                    <input asp-for="WorkingHour" class="form__input" placeholder="Working hour">
                                    <span asp-validation-for="WorkingHour" class="text-danger"></span>
                                </div>
                            </div>



                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="form__group">
                                    <input asp-for="PhoneNumber" class="form__input" placeholder="Phone number">
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="form__group">
                                    <input asp-for="EMail" class="form__input" placeholder="Email">
                                    <span asp-validation-for="EMail" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-12 col-lg-6">
                                <div class="form__group form__group--link">
                                    <input asp-for="MapLocation" class="form__input" placeholder="Map location link">
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="col-12">
                        <div class="row">
                            
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary me-2">Create</button>
                                <button asp-controller="Cinema" asp-action="Index" class="btn btn-dark">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- end form -->
    </div>
</div>

@*<div class="col-md-12 m-5 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="CinemaName"></label>
                    <input asp-for="CinemaName" class="form-control">
                    <span asp-validation-for="CinemaName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ShortContent"></label>
                    <input asp-for="ShortContent" class="form-control">
                    <span asp-validation-for="ShortContent" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="OurAdress"></label>
                    <input asp-for="OurAdress" class="form-control">
                    <span asp-validation-for="OurAdress" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="EMail"></label>
                    <input asp-for="EMail" class="form-control">
                    <span asp-validation-for="EMail" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="WorkingHour"></label>
                    <input asp-for="WorkingHour" class="form-control">
                    <span asp-validation-for="WorkingHour" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="MapLocation"></label>
                    <input asp-for="MapLocation" class="form-control">
                    <span asp-validation-for="MapLocation" class="text-danger"></span>
                </div>



                <div class="form-group">
                    <label asp-for="CinemaPosterPhoto"></label>
                    <input accept="image/" asp-for="CinemaPosterPhoto" class="form-control">
                    <span asp-validation-for="CinemaPosterPhoto" class="text-danger"></span>
                </div>



                <button type="submit" class="btn btn-primary me-2">Create</button>
                <button asp-controller="Cinema" asp-action="Index" class="btn btn-dark">Cancel</button>
            </form>
        </div>
    </div>
</div>*@

